[submodule "gyp"]
	path = gyp
	url = https://chromium.googlesource.com/external/gyp.git

[submodule "Celero"]
	path = Celero
	url = https://github.com/DigitalInBlue/Celero.git
[submodule "test/microsoft/typescript"]
	path = test/microsoft/typescript
	url = https://github.com/Microsoft/TypeScript
[submodule "test/doppio"]
	path = test/doppio
	url = https://github.com/plasma-umass/doppio.git
